.App {
  text-align: center;
}

.login-id {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.login-password {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.login-btn {
  width: 200px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: green;
}

.signup-1 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-2 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-3 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-4 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-5 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-6 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-7 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.signup-btn {
  width: 200px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: green;
}

.signup-7 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}
.signup-7 {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.Nonsignup-name {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}
.Nonsignup-gender {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}
.Nonsignup-age {
  width: 400px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}
.Nonsignup-btn {
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: green;
}


.Sub_app {
  margin: 100px;
  background-color: seagreen;
  border: 10px black solid ;
  border-radius:20px;
  width: auto;
  height: 500px;
}
.Sub_app_title{
  background-color: burlywood;
 
  width: auto;
  height: fit-content;
}


.Question-Img {
  background-color: aqua;
  width: fit-content;
  height: fit-content;  
}

.Question-name {
  background-color: burlywood;
  width: fit-content;
  height: fit-content;
}
.Question-content{
  background-color: sandybrown;
  width: fit-content;
  height: fit-content;
}

.Survey-form{
  border: 10px black solid ;
  border-radius:20px;
}

.result-title {
  
}

.result-message {
  
}

.result-job {
  
}



.job-img{
  width: 100px; 
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}




/* //! 의영님 작업부분 */

.mypage {
  text-shadow: black;
  text-size-adjust: 200;
  font-size: 50px;
}

.mypage-logout {
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: green;
  text-size-adjust: 150;
}

.mypage-question {
  width: 300px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-color: green;
  text-size-adjust: 150;
}

